<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.games.management">

    <application>
        <activity
            android:name=".MenuActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_management_lib"
            />
        <activity
            android:name=".leaderboards.LeaderboardSelectionActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_leaderboards"
            />
        <activity
            android:name=".leadeboard.LeaderboardManagementActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_manage_leaderboard"
            />
        <activity
            android:name=".hiddenPlayers.PlayersManagementActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_hidden_players"
            />
    </application>
</manifest>